.Idea {
  display: flex;
  flex: 1;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  /*margin: 0 8px 8px 8px;*/
  width: 100%;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.34);
  /*transition: opacity .3s ease;*/
}

.Idea div {
  max-width: 60%;
  margin: 0 8px 8px 8px;
}

.icon svg {
  opacity: 0.84;
  -webkit-filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.34));
  filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.34));
}

.title {
  margin: inherit;
  font-size: 50px;
  color: #ffffffdd;
}

.description {
  margin: inherit;
  font-size: 24px;
  color: #ffffffdd;
}

button {
  background:transparent;
  color:#fff;
  border: none;
  cursor: pointer;
  outline: none;
  font-size:16px;
  padding: 12px 12px;
  margin: 8px 8px;
  color: rgba(255,255,255,.84);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  opacity: 0.84;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.34);
}

.button:hover {
  opacity: 1;
  transition: opacity,color,background-color 300ms ease-out;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 0.54);
}

.button.delete:hover {
  background-color: rgba(255, 0, 0, 0.54);
}

.ButtonBar {
  /*margin: 0 8px 8px 8px;*/
  /*font-size: 22px;*/
  color: #ffffffdd;
  display:flex;
  max-width: 40%;
  justify-content: space-between;
  align-content: flex-end;
  margin-left:30%;
  margin-bottom:30px;
}
