.Idea {
  display: flex;
  flex: 1;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  /*margin: 0 8px 8px 8px;*/
  width: 100%;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.34);
  /*transition: opacity .3s ease;*/
}

.Idea div {
  max-width: 60%;
  margin: 0 8px 8px 8px;
}

.icon svg {
  opacity: 0.84;
  -webkit-filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.34));
  filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.34));
}

.title {
  margin: inherit;
  font-size: 50px;
  color: #ffffffdd;
}

.description {
  margin: inherit;
  font-size: 24px;
  color: #ffffffdd;
}
