.BottomBar {
  display: flex;
  height: 46px;
  width: 100%;
  justify-content: space-between;
  opacity: 0.84;
}

/* counter */
.BottomBar #bottomRight {
    text-align: right;
    padding: 8px 8px;
    opacity: 0.54;
    cursor: default;
}

.BottomBar #bottomRight:hover {
    opacity: 0.84;
    transition: opacity 0.3s ease-out;
}
