@import url('https://fonts.googleapis.com/css?family=Roboto');
html,body, #root {
  width:100%;
  height: 100%;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height:100%;
}

.counter {
  display:flex;
  justify-content: center;
  width:100%;
}

.counter__number {
  font-size: 7rem;
  background: #fff;
  color: #3900C6;
  border-radius: 50%;
  /* text-align: center; */
  width: 9rem;
  line-height: 9rem;
}

body {
  background: #3900C6;
  color:#fff;
  font-family: 'Roboto','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

button {
  background:transparent;
  color:#fff;
  border: none;
  cursor: pointer;
  outline: none;
  font-size:16px;
  color: rgba(255,255,255,0.32);
}

button:hover {
  color: rgba(255,255,255,0.84);
}

.quote {
  max-height:40%;
}

.buttons {
  display:flex;
  max-width: 20%;
  justify-content: space-between;
  align-content: flex-end;
  margin-left:40%;
  margin-bottom:30px;

}
