@import url('https://fonts.googleapis.com/css?family=Roboto');

html,body, #root {
  width:100%;
  height: 100%;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height:100%;
  overflow: hidden;
}



body {
  /*background: #3900C6;*/
  color:#fff;
  font-family: 'Roboto','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #21D4FD;
  background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
}


/*.counter {*/
  /*display:flex;*/
  /*justify-content: center;*/
  /*width:100%;*/
/*}*/

/*.counter__number {*/
  /*font-size: 7rem;*/
  /*background: #fff;*/
  /*color: #3900C6;*/
  /*border-radius: 50%;*/
  /*!* text-align: center; *!*/
  /*width: 9rem;*/
  /*line-height: 9rem;*/
/*}*/
